body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  #popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Ocupa todo el ancho visible */
    height: 100vh; /* Ocupa toda la altura visible */
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
    z-index: 1000; /* Se asegura de estar al frente */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  
  #popup.show {
    opacity: 1;
    pointer-events: auto;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .hidden {
    display: none;
  }
  /* Ventana Emergente */
#ventanaEmergente {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  
  #ventanaEmergente.show {
    opacity: 1;
    pointer-events: auto;
  }
  
  .contenidoVentana {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  form button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  /* Asegura que el prefijo esté visualmente integrado */
#prefijo {
    background-color: #f0f0f0; /* Color de fondo diferente para indicar que no es editable */
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  