body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #292f36;
}
  
header {
    background-color: #fff;
    color: #000;
    padding: 10px;
    display: flex;
    align-items: center;
}
  
header img {
    margin-right: 10px;
}
  
header h1 {
    margin: 0;
    color:#000
}
  
h1 {
    text-align: center;
    margin-top: 20px;
    color:#fff
}
  
form {
    margin: 20px auto;
    width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
ul {
    list-style: none;
    padding: 0;
}
  
li {
    margin-bottom: 15px;
}
  
label {
    display: block;
    margin-bottom: 5px;
}
  
input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #93827f;
    border-radius: 3px;
    box-sizing: border-box;
}
  
textarea {
    resize: vertical;
}
  
button {
    background-color: #ff6b6b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 20px;
}
  
button:hover {
    background-color: #4ecdc4;
}
  
footer {
    background-color: #fff;
    color: #fff;
    padding: 20px;
    text-align:center;
}
  
footer span {
    font-size: medium;
    font-weight: bold;
    margin-top: 20px;
    color:#292f36;
}
  
a {
    color: #fff;
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
