body {
  font-family: "Oswald", sans-serif;
  font-size: large;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #f9fafa;
}

.total {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

header {
  min-width: 100%;
  width: 100%;
  position: relative;
  margin-right: 10px;
}

.navegacion {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr 50px;
  align-items: center;
  background-color: #090809;
  padding-right: 0;
  border-bottom: 2px solid #df0713;
}

.contLogo img {
  width: 150px;
  height: auto;
}

.menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 20px;
  justify-self: flex-start;
}

.menuElemento {
  color: #f9fafa;
  text-decoration: none;
  padding: 10px;
  margin-left: 1rem;
}

.menuElemento:hover {
  background-color: #242527;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.BlackFriday {
  border: 1px solid #df0713;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.contCarrito img {
  width: 3rem;
  height: auto;
}

.lineaRoja {
  width: 100%;
  height: 2px;
}

.contBuscador {
  width: 100%;
  background-color: #242527;
  height: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: right;
  margin: 0;
}

.buscador {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: #090809;
  width: 100%;
  height: 100%;
  max-width: 400px;
}

.lupa {
  width: 20px;
  margin-left: 5px;
}

input[type="text"] {
  background-color: #090809;
  border: none;
  padding: 5px;
  width: 100%;
  max-width: 300px;
  color: #f9fafa;
  margin: 0;
}
/*HEADER COMPLETADO. IMPORTANTE:pese a que puede llamar a nav y editarlo tal cual,
  para reutilizar codigo opto por tambien ponerle sus respectivas clases.Lo mismo con MAIN*/
.tablaPedidos {
  justify-self: center;
  border-collapse: collapse;
  min-width: 90%;
  gap: 200px;
  text-align: center;
}
/* Puntero a tablas(puede que generica) */
.tablaPedidos th,
td {
  border: 2px solid whitesmoke;
  padding: 15px;
}
/* Puntero a celdas(quizas genericas) */
.tablaPedidos th{
    font-weight: bolder;
    font-size: 2em;
}
.contAcciones{
  text-align: center;
}
td> button{
    list-style: none;
    display: flex;
    margin: 0;
    margin-right: 0;
}
#archivarTabla{
  float: right;
  margin-right: 5rem;
  background-color: #090809;
  width: 15rem;
  height: 5rem;
}
#archivarTabla:hover{
  background-color: #242527;
}
