html{
    min-height: 100%;
    position: relative;
}
body{
    padding: 0px;
    margin: 0px;
    background-color: rgba(38, 0, 255, 0.75);
    font-family: 'Lucida Sans';
}
header{
    width: 100%;
    text-align: center;
    top: 10px;  
}
.titulo{
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: auto;
}
.boton{
    width: 250px;
    height: 100px;
    margin: auto;
    border: 0px  rgba(173, 159, 255, 0.75);
    border-radius: 50px;
    background: 0px  rgba(173, 159, 255, 0.75);
}
input{
    display: none;
}
.menu{
    display: none;
}
h2{
    display: none;
}
.check:checked + h2 {
    display: block;
    text-align: center;
}

.check:checked + h2 + .menu{
    display: flex;
    align-items: center; 
    justify-content: center;
    margin: auto;
    padding: auto;
    height: 500px;
}
/*Lo de arriba ocurre cuando le das al boton de menu*/
.caja{
    background: linear-gradient(0deg,rgba(173, 159, 255, 0.75) 10%,rgba(76, 45, 255, 0.75) 90%);
    overflow: hidden;
    margin: 10px;
    height: 250px;
    width: 250px;
    border-radius: 250px;
    box-shadow: 10px 10px 10px 5px rgba(173, 159, 255, 0.75);
}

.caja:hover {
    border-top-left-radius: 0px;
    border-top-right-radius:25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 0px;
    height: 360px;
    width: 360px;
    transition:  1s;
}

.dia{
    background:  linear-gradient(0deg,rgba(173, 159, 255, 0.75) 10%,rgba(76, 45, 255, 0.75) 90%);
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}



.caja:hover .dia{
    height: auto;
    width: auto;
    font-size: xx-small;


}

.comida {
    display: none;
    height: 0px;
    width: 0px;
}

.caja:hover .comida{
    overflow: auto;
    display: block;
    height: 100%;
    width:  100%;
    margin-left: 0px;
}

.caja:hover dl{
    font-size: medium;
}

.comida dl{
    list-style: none;
    margin-bottom: 50px;
    font-size: smaller;

}

.comida dt{
    color: rgb(217, 255, 0);
}

.comida ul{
    font-size: smaller;
    margin-bottom: 25px;

}

.caja:hover ul{
    font-size: medium;
}

.comida img{
    display: none;
}
.comida a:hover img{
    display: block;
    width: 500px;
    height: 500px;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.75);
    position: absolute;
    margin-bottom: 15px;
}
.list a{
    color: black;
    text-decoration: none;
}
.list a:link{
    text-decoration: none;
    color: black;
}

.list a:visited{
    color: rgb(170, 41, 131);
}

.list a:hover{
    color: white;
}
.list a:active{
    color: rgb(165, 24, 24);
}


footer{
    position: absolute;
    bottom: 0px;
    margin-top: 10%;

}
footer p {
    font-size: 2em;
    text-justify: distribute;
    color: rgb(0, 0, 0);
    text-align: center;
}

footer::first-letter{
    font-size: 8em;
    font-family:'Franklin Gothic Medium';
    font-weight: bold;
    font-style: italic;
    color: rgba(173, 159, 255, 0.75);
}
